<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="QuanLyGiaoVienVaHocSinhEntities" connectionString="metadata=res://*/Model.DbContext.csdl|res://*/Model.DbContext.ssdl|res://*/Model.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMYHUYENDIEU;initial catalog=QuanLyGiaoVienVaHocSinh;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>